<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionDao" class="pohlebaev.homework.one.dao.QuestionDaoImpl">
        <constructor-arg name="csvMapper" ref="csvMapper"/>
        <constructor-arg name="fileName" value="questions.csv"/>
    </bean>
    <bean id="questionService" class="pohlebaev.homework.one.service.QuestionServiceImpl">
        <constructor-arg name="questionDao" ref="questionDao"/>
    </bean>
    <bean id="csvMapper" class="com.fasterxml.jackson.dataformat.csv.CsvMapper"/>
</beans>